body {
  background: url(../img/background.png);
  font-family: "helvetica Neue", Arial, sans-serif;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: url(../img/header-bg.png) repeat-x;
  height: 38px;
  border-bottom: 10px solid #000;
}

.header .container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header .social {
  position: absolute;
  left: 0;
  top: 7px;
}

.header .social a {
  display: inline-block;
  width: 23px;
  height: 24px;
  margin: 0 5px;
}

.header .social .facebook {
  background: url(../img/facebook-small.png) no-repeat;
  margin-left: 0;
}

.header .social .twitter {
  background: url(../img/twitter-small.png) no-repeat;
  width: 28px;
}

.header .social .dribbble {
  background: url(../img/dribbble-small.png) no-repeat;
}

.header .social .tumblr {
  background: url(../img/tumblr-small.png) no-repeat;
}

.header .social .vimeo {
  background: url(../img/vimeo-small.png) no-repeat;
}

.header .contact-nav {
  list-style: none;
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.header .contact-nav li {
  float: left;
  margin-right: 15px;
}

.header .contact-nav #contact {
  color: #f5d502;
}

.header .contact-nav li a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding-top: 36px;
  position: relative;
}

.main .top {
  height: 157px;
  position: relative;
  margin-bottom: 50px;
}

.main .top .logo {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  float: left;
}

.main .top .nav {
  position: absolute;
  right: 0;
  bottom: 0;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.main .top .nav li {
  float: left;
  margin: 0 2px;
  padding: 20px 25px;
  background: url(../img/header-bg.png);
}

.main .top .nav li.last {
  margin-right: 0;
}

.main .top .nav li.active, .main .top .av li:hover {
  background: #000;
  color: #f5d502;
}

.main .top .nav li a {
  text-decoration: none;
  color: inherit;
}

.main .showcase {
  position: relative;
}

.main .showcase img {
  z-index: 20;
}

.main .showcase .banner {
  width: 1060px;
  position: absolute;
  left: -30px;
  bottom: 50px;
  background-color: #2191d8;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}

.main .showcase .banner .triangle {
  border-style: solid;
  border-width: 15px;
  width: 0;
  height: 0;
  position: absolute;
  top: -30px;
}

.main .showcase .banner .triangle-1 {
  border-color: transparent #0f405f #0f405f transparent;
  left: 0;
}

.main .showcase .banner .triangle-2 {
  border-color: transparent transparent #0f405f #0f405f;
  right: 0;
}

.main .showcase .banner strong {
  font-size: 20px;
  color: #fff;
  font-weight: oblique;
  margin-right: 10px;
}

.main .showcase .buttons {
  margin: 12px auto 0;
  height: 17px;
  width: 81px;
}

.main .showcase .buttons .btn {
  background-color: #b1b1b1;
  border-radius: 9px;
  height: 17px;
  width: 17px;
  float: left;
  margin: 0 5px;
}

.main .showcase .buttons .btn.active {
  background-color: #2296df;
}

.main .tag {
  margin-top: 40px;
}

.main .tag .hello {
  font-size: 140px;
  font-weight: bolder;
}

.main .tag .tagline {
  line-height: 46px;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  position: absolute;
  right: 0;
  width: 575px;
}
